.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header{
    background-color: #fff;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 600px;
    height: 200px;
}

.body{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
}

.containerBodyAudi{
    display: flex;         
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    height: 100%;          
    background-color: #000;
    flex: 1;
}

.containerBodyDucati{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerBodyDucati img{
    width: 300px;
    height: 300px;
}

.containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;   /* Centra los hijos verticalmente */
    justify-content: center; /* Centra los hijos horizontalmente */
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
}

.containerButton button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-family: "AudiLight";
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
}

.containerButton img{
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .body{
        flex-direction: column;
        width: 100%;
    }
    .containerButton{
        position: relative;
        padding-bottom: 0;
    }

    .header img{
        width: 100%;
        height: 100px;
    }

    .containerBodyAudi, .containerBodyDucati{
        justify-content: space-around;
    }

    .header{
        height: 100px;
    }
}